// Copyright (c) 2016, Herman Bergwerf. All rights reserved.
// Use of this source code is governed by a MIT-style license
// that can be found in the LICENSE file.

#include "{{{ name }}}.h"

namespace fldart {
namespace {{{ name }}} {
{{# functions }}

void {{{ name }}}(Dart_NativeArguments arguments) {
  {{! Local variables }}
  {{# args }}
  {{{ type }}} {{{ name }}};
  {{/ args }}
  {{! Enter new Dart scope }}
  Dart_EnterScope();
  {{! Resolve input variables}}
  {{# args }}
  HandleError({{{ conv }}}(HandleError(Dart_GetNativeArgument(arguments, {{{ argi }}})), &{{{ name }}}));
  {{/ args }}
  {{! Execute the function call }}
  {{{ call }}};
  {{! Resolve return value }}
  Dart_Handle result = {{{ return }}};
  Dart_SetReturnValue(arguments, result);
  Dart_ExitScope();
}
{{/ functions }}
}
}
