// Copyright (c) 2016, Herman Bergwerf. All rights reserved.
// Use of this source code is governed by a MIT-style license
// that can be found in the LICENSE file.

#ifndef {{{ header }}}
#define {{{ header }}}

#include {{{ targetClassInclude }}}

#include <dart_api.h>

#include "../../common.hpp"

namespace fldart {
namespace {{{ dartname }}} {

{{# constructors }}
void constructor_{{{ dartname }}}{{{ name }}}(Dart_NativeArguments arguments);
{{/ constructors }}
{{# methods }}
void {{{ name }}}(Dart_NativeArguments arguments);
{{/ methods }}

static FunctionMapping functionMapping[] = {
  {{# constructors }}
  {"fldart::{{{ dartname }}}::constructor_{{{ dartname }}}{{{ name }}}", constructor_{{{ dartname }}}{{{ name }}}},
  {{/ constructors }}
  {{# methodNames }}
  {"fldart::{{{ dartname }}}::{{{ . }}}", {{{ . }}}},
  {{/ methodNames }}
  {NULL, NULL}
};
}
}

#endif
