// Copyright (c) 2016, Herman Bergwerf. All rights reserved.
// Use of this source code is governed by a MIT-style license
// that can be found in the LICENSE file.

#include "{{{ dartname }}}.hpp"
{{# sourceInclude }}
#include "{{{ . }}}"
{{/ sourceInclude }}

namespace fldart {
namespace {{{ dartname }}} {
{{# constructors }}

void constructor_{{{ dartname }}}{{{ name }}}(Dart_NativeArguments arguments) {
  {{! Local variables }}
  {{{ targetClass }}} *instance;
  Dart_Handle _ref;
  {{# args }}
  {{{ type }}} {{{ name }}};
  {{/ args }}
  {{! Enter new Dart scope }}
  Dart_EnterScope();
  {{! Resolve variables }}
  _ref = HandleError(Dart_GetNativeArgument(arguments, 0));
  {{# args }}
  HandleError({{{ conv }}}(HandleError(Dart_GetNativeArgument(arguments, {{{ argi }}})), &{{{ name }}}));
  {{/ args }}
  {{! Create instance }}
  instance = new {{{ targetClass }}}({{{ argslist }}});
  Dart_SetNativeInstanceField(_ref, 0, (intptr_t)instance);
  {{! Return instance memory address }}
  Dart_Handle _ret = Dart_Null();
  Dart_SetReturnValue(arguments, _ret);
  Dart_ExitScope();
}
{{/ constructors }}
{{# methods }}

void {{{ name }}}(Dart_NativeArguments arguments) {
  {{! Local variables }}
  {{{ targetClass }}} *_ref;
  {{# args }}
  {{{ type }}} {{{ name }}};
  {{/ args }}
  {{! Enter new Dart scope }}
  Dart_EnterScope();
  {{! Resolve class instance reference from memory address }}
  _ref = ({{{ targetClass }}}*)getptr(arguments, 0);
  {{! Resolve other method arguments }}
  {{# args }}
  {{# simpleconv }}
  HandleError({{{ conv }}}(getarg(arguments, {{{ argi }}}), {{{ convargs }}}));
  {{/ simpleconv }}
  {{# uint8listconv }}
  {{{ name }}} = (uint8_t*)*gettypeddata(arguments, {{{ argi }}}, Dart_TypedData_Type::Dart_TypedData_kUint8);
  {{/ uint8listconv }}
  {{/ args }}
  {{! Run method call }}
  {{{ call }}};
  {{! Get return value and return }}
  Dart_Handle _ret = {{{ return }}};
  Dart_SetReturnValue(arguments, _ret);
  Dart_ExitScope();
}
{{/ methods }}
}
}
