#ifndef {{{ header }}}
#define {{{ header }}}

{{# include }}
#include {{{ . }}}
{{/ include }}

#include "dart_api.h"
#include "../common.hpp"

namespace fldart {
/// Dart bindings for {{{ cname }}}
class {{{ dartname }}} {
public:
{{# constructors }}
  static void create{{{ dartname }}}{{{ name }}}(Dart_NativeArguments arguments);
{{/ constructors }}
{{# methods }}
  static void {{{ name }}}(Dart_NativeArguments arguments);
{{/ methods }}

  // Method mapping
  static FunctionMapping methods[];
};
}

#endif
